.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 30%;
  margin: 20px 0;
  background: rgba(#ffffff, #ffffff, #ffffff, 0.5);
}

.search::placeholder {
  text-align: center;
}

.search:focus {
  border: 1px solid gray;
  border-radius: 5px;
}
